.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  margin: auto;
  max-width: 400px;
  background-color: #fff;
  margin-top: 20px;
  align-items: center;
}

.elevated-button {
  border: 1px solid #1976d2 !important;
  width: 350px;
}

.button {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  text-transform: "none";
  width: 350px;
}

.text-input {
  width: 350px;
}
